.header_main_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header_right_container{
    display: flex;
    align-items: center;
}

input{
    width: 140px;
}

.header{
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(/images/pokeball.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.pokedex_headline{
    color: #ccc;
}