body{
    margin: 0;
    font-family: Lato, sans-serif;
}
.d_flex_c_c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d_flex_sb_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color_white{
    color:white
}

#pokedex{
    min-height: 50vh;
    background-color: rgb(24, 117, 24);
    color:white;
    display: flex;
}
.info_container{
    display: flex;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    margin-top: -40px;
}
#pokemonImage{
    height: 200px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
}
.small_card_img{
    width: 120px;
}
.small_card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 40px;
    margin: 16px 8px;
    text-align: center;
    cursor: pointer;
}
.small_card_body{
    padding: 0 20px 0 20px;
    background-image: url(/images/pokeball_bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.small_card_header{
    height: 20px;
    margin-top: 20px;
}
.card_id{
    text-align: center;
    color: #e7e7e7;
}
.types_small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.display_type{
    border-radius: 40px;
    width: 64px;
    height: 24px;
    color: white;
}
.more_pokemon_btn{
    background-color: red;
    border-radius: 24px;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.3);
    width: 256px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
    color: white;
    cursor: pointer;
}
#loading_btn{
    display: flex;
}