body{
    margin: 0;
    font-family: Lato, sans-serif;
}
.d_flex_c_c{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex{
    min-height: 50vh;
    background-color: rgb(24, 117, 24);
    color:white;
    display: flex;
}
.info_container{
    display: flex;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    margin-top: -40px;
}
#pokemonImage{
    height: 200px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
}
