                                        /* Standart Style */
body{
    margin: 0;
    font-family: Lato, sans-serif;
}

.d_flex{
    display: flex;
}

.d_flex_c_c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_flex_sb_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_flex_se_c{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d_flex_sa_c{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color_white{
    color:white
}
.max_width_1441{
margin-left: auto;
max-width: 1441px;
margin-right: auto;
}
.font_s32{
    font-size: 32px;
}
                                         /* Small Card */
.pokemonImage{
    height: 200px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -160px;
}

.small_card_img{
    width: 120px;
}

.small_card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 40px;
    margin: 16px 8px;
    text-align: center;
    cursor: pointer;
    width: 290px;
}

.small_card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.6);
}

.small_card:hover .small_card_img {
    transform: scale(1.1);
}

.small_card_body{
    padding: 0 20px 0 20px;
    background-image: url(/images/pokeball_bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.small_card_header{
    height: 20px;
    margin-top: 20px;
}

.card_id{
    text-align: center;
    color: #e7e7e7;
}

.types_small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.display_type{
    border-radius: 40px;
    width: 64px;
    height: 24px;
    color: white;
}

                                                /* Button to load more Pokemon */
.more_pokemon_btn{
    background-color: red;
    border-radius: 24px;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.3);
    width: 256px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#loading_btn{
    display: flex;
}

                                                /* INFO CARD */
.info_card_background{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.info_card_header{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 16px;
    margin-top: 16px;
}

.close_btn{
    font-size: 32px;
    cursor: pointer;
}

.info_card_body{
    min-height: 70vh;
    width: 100%;
    border-radius: 40px;
    color:white;
    display: flex;
    flex-direction: column;
}

.info_card_type{
    text-align: center;
    gap: 8px;
}

.info_container{
    display: flex;
    background-color: white;
    border-radius: 40px;
    flex-direction: column;
    padding: 16px;
    flex: 1;
   
}

#info_content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.arrow{
    color: #ff4120;
    font-size: 64px;
    cursor: pointer;
}
.headline{
    color: black;
    text-align: center;
}
.info_chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.chart{
    display: flex;
    flex: 1;
}